.ScoreTable {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color:rgb(255, 255, 255);
  width: 80%;
  background-color: rgba(251, 253, 255, 0.65);
  padding: 11em;
  padding-top: 3%;
  padding-bottom: 3%;  
  margin-top: 0%;
  margin-bottom: 10%;
  min-width: 20%;
  box-shadow: 0 19px 38px rgba(253, 250, 250, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.ScoreTable table {
  width: 10%;
  margin: 0 auto;
  min-width: 120%;
}

.ScoreTable-section {
  vertical-align: top;
  width: 100%;
}

